@inherits LayoutComponentBase

<div class="page-fullwidth">
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<style>
    .page-fullwidth {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    
    .page-fullwidth main {
        flex: 1;
    }
    
    .page-fullwidth .content {
        padding: 1rem;
    }
</style>
